# dependencies
node_modules/

# build files
build/
dist/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# coverage
coverage/

# lock files (optional)
package-lock.json
yarn.lock